#background{
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    margin:auto;
    width:100vw;
    height:100vh;
}

.backgroundImg{
    height:100%;
    width:100%;
}

#center{
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    margin:auto;
    width:1000px;
    height:700px;
}

#centerImgArea{
    position: absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    margin:auto;
    width:900px;
    height: 600px;
    
}

#imgSpaceBot{
    position: absolute;
    bottom:0px;
    left: 330px;
    width:240px;
    height:180px;
    border: 3px solid blue;
    box-sizing: border-box;
    transition: 0.15s;
    
}

#imgSpaceLeft{
    position: absolute;
    bottom:210px;
    left: 0px;
    width:240px;
    height:180px;
    border: 3px solid white;
    box-sizing: border-box;
    transition: 0.15s;
}

#imgSpaceRight{
    position: absolute;
    bottom:210px;
    right: 0px;
    width:240px;
    height:180px;
    border: 3px solid white;
    box-sizing: border-box;
    transition: 0.15s;
}

#imgSpaceTop{
    position: absolute;
    top:0px;
    left: 330px;
    width:240px;
    height:180px;
    border: 3px solid white;
    box-sizing: border-box;
    transition: 0.15s;
}

.bigImg{
    height:100%;
    width:100%;
    transition: 0.3s;
}

#controlPanelBot{
   
    position:fixed;
    bottom:5px;
    left:0px;
    right:0px;
    margin:auto;
    height:100px;
    width:1031px;
    background-color:rgba(200,200,200,0.5);
    transition: bottom 1s;
    
}

#text{
    position:absolute;
    top:-20px;
    right:0px;
    left:0px;
    margin:auto;
    height: 20px;
    width:65px;
    background-color:rgba(200,200,200,0.5);
}

#barButton{
    position:absolute;
    top:-50px;
    left:0px;
    height:50px;
    width:50px;
    
}

#reset{
    position:absolute;
    top:-17px;
    right:0px;
    height:17px;
    width:37px;
    background-color:rgba(200,200,200,0.5);
}

#resetButton{
    height:100%;
    width:100%;
}

#botImgBox1{
    position:static;
    left: 5px;
    height:100px;
    width:133px;   
    display:inline-block;
}

#botImgBox2{
    position:static;
    height:100px;
    width:133px;    
    display:inline-block;
}

#botImgBox3{
    position:static;
    height:100px;
    width:133px;
    display:inline-block;
}

.button{
    position:static;
    height:100px;
    width:100px;
    display:inline-block;
}

.buttonImg{
    height:100%;
    width:100%;
}


.panel{
    width:100%;
    height:100%;
}
